/*contactme.css*/

body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.nav-link {
    color: #2eaa2e !important;
    font-size: 17px;
    font-weight: bolder;
}

.nav-item {
    padding-right: 0px;
}

.active-contact {
    color: #2c52a3 !important;
}

.nav-link:hover {
    color: #2c52a3 !important;
}

.navbar-brand {
    margin-top: -50px;
}

.navbar-toggler {
    margin-top: -55px;
} 

.navbar-collapse {
    margin-top: -50px;
}

body article #title h1{
    color: #2c52a3;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

p {
    color: #2eaa2e;
    text-align: center;
}
